{% extends 'base.html' %}
{% load bootstrap %}

{% block main_contents %}
    <div class="row">
        <div class="table-bordered col-lg-offset-2 col-lg-8 col-md-10 col-md-offset-1">
            <form method="post" role="form">
                {% csrf_token %}
                {{ formA|bootstrap }}
                {{ formB|bootstrap }}
                {{ formC|bootstrap }}
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}